<div class="clsgelgold rotengelcontain">
    <div class="roctengcard" id="target1">
        <div class="roctengeltitle">
            <h2 class="roctaintitle">{{section.settings.gel}}<span class="clshr"></span></h2>
        </div>
    </div>

    <div class="crunchesblogadd">
        {% for block in section.blocks %}  
        {% case block.type %}
        {% when 'title' %}
        <div class="gelltitle">
            <h3 class="geltogle">{{block.settings.roctin}}</h3>
        </div>

        {% when 'discription' %}
        <div class="gelltitle">
            <p class="geltdicript">{{block.settings.discript}}</p>
        </div>

           {% when 'image' %}
        <div class="gellimage">
            <img src="{{ block.settings.gelmg | img_url:'master'}}" class="sportmg">
        </div>
        {% endcase %}
        {% endfor %}
    </div>
</div>
{% schema %}
{
"name": "geldiscription",

"settings": [
{
  "id" : "gel",
  "type" : "text",
  "label" : "Heading"
}
],
"blocks":[
{
    "type": "title",
    "name": "title",
    "settings": [
      {
        "id": "roctin",
        "type": "text",
        "label": "Sub Title"
      } 
    ]
  },
  {
    "type": "discription",
    "name": "discription",
    "settings": [
      {
        "id": "discript",
        "type": "textarea",
        "label": "Discription"
      } 
    ]
  },
    {
    "type": "image",
    "name": "image",
    "settings": [
    {
   "id": "gelmg",
   "type": "image_picker",
    "label": "Image"
   }
    ]
  }

],
"presets" : [
{
  "name" : "geldiscription",
  "category" : "geldiscription"

  }
]
}
{% endschema %}