 <div>
        <table class="maintable">
            <thead>
              <tr>
                <th>Territory</th>
                <th>Dealer Name</th>
                <th>Web Site</th>
                <th>Email</th>
              </tr>
            </thead>
          
            <tbody class="tablebody">
              <tr>
                <td>Argentina</td>
                <td>TJS SRL.</td>
                <td><a href="http://www.guenergy.com.ar">http://www.guenergy.com.ar</a></td>
                <td>comercial@tjs.com.ar</td>
              </tr>
              <tr>
                <td>Australia</td>
                <td>Blueline Sports</td>
                <td><a href="http://guenergy.com.au">http://guenergy.com.au</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Austria, Germany & Switzerland</td>
                <td>Becker Distribution GmbH</td>
                <td><a href="http://www.becker-distribution.com">http://www.becker-distribution.com</a></td>
                <td>gu@becker-distribution.com</td>
              </tr>
              <tr>
                <td>Bolivia</td>
                <td>Chavo Sport</td>
                <td><a href="http://www.chavosport.com">http://www.chavosport.com</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Brazil</td>
                <td>Fepase Sports</td>
                <td><a href="http://fepase.com.br">http://fepase.com.br</a></td>
                <td>comercial@fepase.com.br</td>
              </tr>
              <tr>
                <td>Canada</td>
                <td>Uber Performance Products</td>
                <td><a href="http://www.ubersports.ca/">http://www.ubersports.ca/</a></td>
                <td>uber@telus.net</td>
              </tr>
              <tr>
                <td>Chile</td>
                <td>EBEX</td>
                <td><a href="https://www.ebex.cl">https://www.ebex.cl</a></td>
                <td>info@ebex.cl</td>
              </tr>
              <tr>
                <td>Mainland China</td>
                <td>Shenzhen Guliduo Sport Co., Ltd.</td>
                <td><a href=""></a></td>
                <td>gu_sales@163.com</td>
              </tr>
              <tr>
                <td>Colombia</td>
                <td>Zona Cardio	</td>
                <td><a href="http://www.zonacardio.com">http://www.zonacardio.com</a></td>
                <td>ventas@zonacardio.com</td>
              </tr>
              <tr>
                <td>Costa Rica</td>
                <td>Distribuidora 86</td>
                <td><a href="http://www.d86group.com">http://www.d86group.com</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Czech Republic & Slovakia</td>
                <td>Progress Cycle	</td>
                <td><a href="http://www.progresscycle.cz">http://www.progresscycle.cz</a></td>
                <td>info@progresscycle.cz</td>
              </tr>
              <tr>
                <td>Denmark, Norway & Sweden</td>
                <td>Ikandomore ApS</td>
                <td><a href="https://www.ikandomore.com">https://www.ikandomore.com</a></td>
                <td>hey@ikandomore.com</td>
              </tr>
              <tr>
                <td>El Salvador	</td>
                <td>JFM	</td>
                <td><a href="https://www.justformouth.com">https://www.justformouth.com</a></td>
                <td>jorgevalladares@jfm.com.sv</td>
              </tr>
              <tr>
                <td>Estonia	</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Finland</td>
                <td>Endurance Sports	</td>
                <td><a href="http://www.endurancesports.fi">http://www.endurancesports.fi</a></td>
                <td></td>
              </tr>
              <tr>
                <td>France</td>
                <td>Athletes in Motion</td>
                <td><a href="http://www.guenergy.fr">http://www.guenergy.fr</a></td>
                <td>gu@athletesinmotion.fr</td>
              </tr>
              <tr>
                <td>Greece & Cyprus</td>
                <td>	Third Wind</td>
                <td><a href="	http://www.thirdwind.gr">	http://www.thirdwind.gr</a></td>
                <td>info@thirdwind.gr</td>
              </tr>
              <tr>
                <td>Guatemala</td>
                <td>Super Vitaminas (GNC)	</td>
                <td><a href="http://www.gnc.com.gt">http://www.gnc.com.gt</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Hong Kong SAR, PRC	</td>
                <td>PC Sportech	</td>
                <td><a href="http://www.pcsportech.com">http://www.pcsportech.com</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Hungary</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">	http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Iceland</td>
                <td>Trademark</td>
                <td><a href="http://www.tmark.is">http://www.tmark.is</a></td>
                <td></td>
              </tr>
              <tr>
                <td>India</td>
                <td>Selection Centre Sports</td>
                <td><a href="https://www.guenergyindia.com">https://www.guenergyindia.com</a></td>
                <td>contact@selectionsports.in</td>
              </tr>
              <tr>
                <td>Israel</td>
                <td>On Target</td>
                <td><a href="http://www.ontargetsports.co.il">http://www.ontargetsports.co.il</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Italy</td>
                <td>Nutrilife Srl	</td>
                <td><a href="http://www.nutrilife.it">http://www.nutrilife.it</a></td>
                <td>info@nutrilife.it</td>
              </tr>
              <tr>
                <td>Latvia</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Lithuania</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Mexico</td>
                <td>Puraventura</td>
                <td><a href="	https://guenergy.com.mx/">	https://guenergy.com.mx/</a></td>
                <td>mexico@guenergy.com.mx</td>
              </tr>
              <tr>
                <td>New Zealand	</td>
                <td>Allsports Distribution	</td>
                <td><a href="http://www.allsports.co.nz">http://www.allsports.co.nz</a></td>
                <td>sales@allsports.co.nz</td>
              </tr>
              <tr>
                <td>Panama	</td>
                <td>Jacach, S.A	</td>
                <td><a href=""></a></td>
                <td>jmosquerad@gmail.com</td>
              </tr>
              <tr>
                <td>Peru</td>
                <td>Bike Sprint	</td>
                <td><a href="http://www.bikesprint.pe">	http://www.bikesprint.pe</a></td>
                <td>wbautista@bikesprint.pe
                </td>
              </tr>
              <tr>
                <td>Peru</td>
                <td>T&V Trading	</td>
                <td><a href=""></a></td>
                <td>wtakano@terra.com.pe
                </td>
              </tr>
              <tr>
                <td>Russia and CIS	</td>
                <td>SportFERMA LLC	</td>
                <td><a href="	http://sportferma.com">	http://sportferma.com</a></td>
                <td>sales@sportferma.com</td>
              </tr>
              <tr>
                <td>Philippines	</td>
                <td>	Sports Resources, Inc.</td>
                <td><a href="http://www.sriphils.com">http://www.sriphils.com</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Poland	</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Romania</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">	http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Singapore, Indonesia, Malaysia, & Thailand	</td>
                <td>Outdoor Venture	</td>
                <td><a href="http://www.outdoor-venture.com">http://www.outdoor-venture.com</a></td>
                <td>info@outdoor-venture.com</td>
              </tr>
              <tr>
                <td>Singapore</td>
                <td>ONI Global (GNC)	</td>
                <td><a href="http://www.gnc.com.sg">http://www.gnc.com.sg</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Slovenia, Croatia</td>
                <td>Raven</td>
                <td><a href="http://ravenco.eu">http://ravenco.eu</a></td>
                <td></td>
              </tr>
              <tr>
                <td>South Africa</td>
                <td>Pure Endurance Solutions</td>
                <td><a href="http://www.guenergy.co.z">	http://www.guenergy.co.z</a></td>
                <td>info@guenergy.co.za</td>
              </tr>
              <tr>
                <td>Spain</td>
                <td>Myrcosport Srl</td>
                <td><a href="http://www.myrcosport.com">	http://www.myrcosport.com</a></td>
                <td>info@megadrive.com.ua</td>
              </tr>
              <tr>
                <td>United Arab Emirates	</td>
                <td>Sportinlife Distribution</td>
                <td><a href="http://www.sportinlife.ae">http://www.sportinlife.ae</a></td>
                <td></td>
              </tr>
              <tr>
                <td>United Kingdom & Ireland</td>
                <td>Rooie Ltd</td>
                <td><a href="http://www.guenergy.co.uk">	http://www.guenergy.co.uk</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Venezuela	</td>
                <td>JF Sports	</td>
                <td><a href="http://www.jfsports.com.ve">http://www.jfsports.com.ve</a></td>
                <td></td>
              </tr>
              <tr>
                <td>Vietnam</td>
                <td>Premium Distribution</td>
                <td><a href="	http://guenergy.com.vn">http://guenergy.com.vn</a></td>
                <td>info@premiumdistribution.vn</td>
              </tr>
              
            </tbody>
          </table>
    </div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
       "presets" : [
    {
      "name" : "GU table"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
 .maintable {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    
  }
  
  .tablebody tr:nth-child(odd) {
    background-color: #ececec;
  }
  
  .maintable th, td {
    padding: 0.75rem;
    font-size: 0.9375rem;
  }
  
  .maintable th { 
    font-weight: 700;
    text-align: left;
    color: #272838;
    border-bottom: 2px solid #e2e2e2;
    position: sticky;
    top: 0;
    background-color: #F9F8F8;
  }
  
  .tablebody td { 
    color: #000;
  }
  .tablebody td a{
    color: #04bbd3;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}