<section class="bac-color-white2">
  <div class="main-planning2">
    <div class="display--flex2">
       {% for block in section.blocks %}  
      <div class="image-planning2">

      <a href="{{ block.settings.btn-url }}" class="image_box2"> 
          
          {{ block.settings.testi-img | img_url: 'master', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
     <div class="background-overlay2">
             </div>
         <img class="img-icon-video clscenter2" src="https://cdn.shopify.com/s/files/1/0621/9582/6850/files/btn-play.svg?v=1668666972" alt="">
     <div class="clscenter2">
       <h2 class="heading-planing2" style=" color: {{ block.settings.color_title }}">{{ block.settings.testi-title | escape }}</h2>
        
     </div>
       
        
        
    </a>
     
    </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
   "name":"text-image",
   "settings":[
     {
"type": "checkbox",
"id": "btnid",
"label": "btn show or not",
"default": false
}
    
   ],
   "blocks":[
      {
         "type":"quote",
         "name":"image-text",
         "settings":[
            {
               "type":"image_picker",
               "id":"testi-img",
               "label":"image"
            },
                {
               "type":"text",
               "id":"testi-title",
               "label":"text of image",
               "default":"name of text"
            },
            {
               "type":"text",
               "id":"btn-url",
               "label":"button url",
               "default":"https://gu-energy-india.myshopify.com/pages/nutrition-tips"
            },
             {
      "type": "color",
      "id": "color_title",
      "label": "Heading color",
      "default": "#FDB71D"
     } 
         ]
      }
   ],
   "presets":[
      {
         "name":"text-image",
         "category":"Text",
         "blocks":[
            {
               "type":"quote"
            },
            {
               "type":"quote"
            },
            {
               "type":"quote"
            }
         ]
      }
   ]
}

{% endschema %}

{% stylesheet %}
  .heading-planing2{
        text-align: center;
    font-size: 24px;
        font-weight: 800;
        margin-bottom: 18px;
    font-size: 1.8rem;
}
  .background-overlay2{
    background-color: #0000007a;
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .bac-color-white2{
    background-color:#fff;
  }
  .image-planning2{
    margin-top:20px;
  width:32%;
}
.image-planning2 > img{
  width:100%;
}
.main-planning2{
     padding: 80px;
}
.display--flex2{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image_box2{
  position:relative;
}
.clscenter2{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  .btnplaning2{

  }
.image_box2 img{
      width: 100%;
    object-fit: cover;
}
  .img-icon-video{
    width:60px !important;
    height:60px;
    margin:auto;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px){
  .image-planning2 {
    width:100%;
  }
    .main-planning2 {
    padding: 24px;
}
    .heading-planing2 {
    font-size: 28px;
}
}

    @media only screen and (min-width: 768px) and (max-width: 1024px){
  .image-planning2 {
    width:47%;
  }
          .main-planning2 {
    padding: 24px;
}
       .heading-planing2 {
    font-size: 28px;
}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}