<section>
  <div class="main-planning">
    <div class="image-planning">
        <img src="https://cdn.shopify.com/s/files/1/0621/9582/6850/files/ROCTANE_PROTEIN_RECOVERY1.jpg?v=1668152146" alt="">
      <h2>VEGAN ENERGY FOR ATHLETES</h2>

      {% for block in image_blocks %}
    <img src="{{ block.settings.image | img_url: 'master' }}">
    
  {% endfor %}
      
    </div>
  </div>
</section>

{% schema %}
{
  "name": {
    "en": "Multi-hero"
  },
  "class": "index-section index-section--flush",
  "max_blocks": 3,
  "settings": [
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Multi-hero"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}