<section>
  <div class="main-planning">
    <div class="image-planning">
        <img src="https://cdn.shopify.com/s/files/1/0621/9582/6850/files/ROCTANE_PROTEIN_RECOVERY1.jpg?v=1668152146" alt="">
      <h2>VEGAN ENERGY FOR ATHLETES</h2>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Three div section",
  "tag": "section",
  "class": "threediv",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "threediv",
      "settings": [
        {
          "type": "image_picker",
          "id": "image-planing",
          "label":"image-label"
          
        },
        {
          "type": "text",
          "id": "text-planing",
          "placeholder": "enter text for box",
          "label":"text for box"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three div section",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}