<section>
  <div class="main-planning">
    <div class="image-planning">
        <img src="https://cdn.shopify.com/s/files/1/0621/9582/6850/files/ROCTANE_PROTEIN_RECOVERY1.jpg?v=1668152146" alt="">
      <h2>VEGAN ENERGY FOR ATHLETES</h2>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}