<section>
  <div class="main-planning">
    <div class="display--flex">
       {% for block in section.blocks %}  
      <div class="image-planning">
  
      <div class="image_box"> 
          {{ block.settings.testi-img | img_url: 'master', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
     <div class="clscenter">
       <h2>{{ block.settings.testi-title | escape }}</h2>
        <button class="btnplaning">lerne more</button>
     </div>
        
        
    </div>
    </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
   "name":"text-image",
   "settings":[
    
   ],
   "blocks":[
      {
         "type":"quote",
         "name":"Testimonial",
         "settings":[
            {
               "type":"text",
               "id":"testi-title",
               "label":"text of image",
               "default":"mycodemagic"
            },
            {
               "type":"image_picker",
               "id":"testi-img",
               "label":"image"
            },
             {
      "type": "color",
      "id": "color_title",
      "label": "Heading color",
      "default": "#FFFFFF"
     } 
         ]
      }
   ],
   "presets":[
      {
         "name":"text-image",
         "category":"Text",
         "blocks":[
            {
               "type":"quote"
            },
            {
               "type":"quote"
            },
            {
               "type":"quote"
            }
         ]
      }
   ]
}

{% endschema %}

{% stylesheet %}
  .clscenter>h2{
        color: {{block.settings.color_title}};
      font-size: ;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}